[submodule "app"]
	path = app
	url = https://github.com/gauravkuwar/mlsysops-cms-app.git
[submodule "iac"]
	path = iac
	url = https://github.com/gauravkuwar/mlsysops-cms-iac.git
[submodule "inference-optimization"]
	path = inference-optimization
	url = https://github.com/gauravkuwar/mlsysops-cms-inference-optimization.git
[submodule "pipeline"]
	path = pipeline
	url = https://github.com/gauravkuwar/mlsysops-cms-pipeline.git
